body {
	background-image:url(../img/bg.jpg);
	background-attachment: fixed;
	background-size:cover;
	background-color:#444;
	margin-top:100px;
	font-family:'Fira Sans', sans-serif;
	color:#333;
	font-size:16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Alegreya Sans SC';
}
h2 {font-weight:700; font-size:2.5em}

p {
	font-size:20px;
	font-weight:300;
	line-height:25px;
}
/******************/
/***** HEADER *****/
/******************/
header {
	height:100px;
	width:100%;
	background-color:#000;
	background-image:url(../img/header-bg.jpg);
	background-size:cover;
	z-index:10000;
	position:fixed;
	top:0;
	box-shadow:0 0 10px #333;
}
header .logo {
	display:block;
	position:absolute;
	height:90px;
	top:5px;
	left:5px;
}
	header .logo img {
		height:100%;
	}
header .webshop {
	position:absolute;
	display:block;
	right: 5px;
	padding: 5px 45px 5px 5px;
	border-radius: 0 0 5px 5px;
	background-color:#d20117;
	background-image:url(../img/cart.png);
	background-repeat:no-repeat;
	background-position:122px 7px;
	background-size:20px;
	font-family:'Alegreya Sans SC', sans-serif;
	font-weight:700;
	font-size:20px;
	text-decoration:none;
	color:#fff;
}
	header .webshop:hover {
		padding-top:10px;
		background-position: 122px 12px;
	}
/******************/
/****** MENU ******/
/******************/

nav.menu-main {
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
	margin:0 auto;
	
}
nav.menu-main ul {
	max-width:1000px;
	height:40px;
	margin:0 auto;
	
}
nav.menu-main ul li {
	display:block;
	width:16%;
	float:left;
}
	nav.menu-main ul li a {
		display:block;
		width:100%;
		text-decoration:none;
		font-family:'Alegreya Sans SC', sans-serif;
		font-weight:700;
		font-size:17px;
		color:#fff;
		line-height:40px;
		text-align:center;
	}
		nav.menu-main ul li a:hover {
			color:#999;
		}
/************************/
/***** MAIN CONTENT *****/
/************************/
main {
	width:70%;
	min-width:1000px;
	margin:0 auto;
	padding:20px 2% 20px 2%;;
	box-sizing:border-box;
	background-color:#fff;
	
}

article {
	margin: 20px auto 10px auto;
	padding-bottom:40px;
	border-bottom: solid 1px #999;
}

/************************/
/* PAGE SPECIFIC STYLES */
/************************/

/* Index.php */
section.slider {
	width:75%;
	height:auto;
	margin:0 auto;
}
	section.slider img {
		width:100%;
	}
.bx-wrapper .bx-viewport {
	border:none;
	left:0;
	box-shadow:0px 0px 5px #000;
	-webkit-box-shadow: 0 3px 5px #000;
}
.bx-wrapper {
	margin-bottom:0;
}
nav.circles {
	width:100%;
	overflow:visible;
	position:relative;
	text-align:center;
	margin:40px auto 20px auto;
}
nav.circles a {
	display:inline-block;
	width:220px;
	padding-top:225px;
	margin:20px 4% 0 4%;
	
	text-decoration:none;
	color:#444;
	font-family:'Alegreya Sans SC';
	font-size:25px;
	font-weight:bold;	
}
	nav.circles a.mc {
		background-image:url(../img/index/mc.png);
		background-position:top center;
		background-repeat:no-repeat;
	}
	nav.circles a.rep {
		background-image:url(../img/index/rep.png);
		background-position:top center;
		background-repeat:no-repeat;
	}
	nav.circles a.acc {
		background-image:url(../img/index/acc.png);
		background-position:top center;
		background-repeat:no-repeat;
	}
article.welcome {
	width:100%;
}
article.welcome h2, article.welcome p {
	width:60%;
}

aside.trustpilot {
	float:right;
}
	aside.trustpilot a {
		display:block;
		text-decoration:none;
		color:#444;
		font-weight:500;
		padding-bottom:43px;
		width:240px;
		text-align:center;
		background-image:url(../img/index/trustpilot.png);
		background-position:bottom center;
		background-repeat:no-repeat;
		margin-top:-130px;
	}
aside.fb-like-box {
	float:right;
	margin-top:-60px;
	width:240px;
}
article.brands h2 {
	text-align:center;
	margin-top:40px;
}
nav.menu-brands {
	text-align:center;
}
	nav.menu-brands a {
		display:inline-block;
		margin: 10px 20px 20px 20px;
		width:175px;
		-webkit-filter: grayscale(100%);
	}
		nav.menu-brands a:hover {
			-webkit-filter: grayscale(0%);
		}
blockquote {
	width:100%;
	min-height:300px;
	margin:40px auto 0 auto;
	background-image:url(../img/quote.png), url(../img/quote2.png);
	background-position: top left, bottom right;
	background-repeat:no-repeat;
}
blockquote h2 {
	text-align:center;
	margin:0 auto 10px auto;
}
blockquote p {
	width:60%;
	max-width:800px;
	margin:50px auto 0 auto;
	font-size:20px;
	text-align:center;
	line-height:25px;
}
blockquote p cite {
	font-style:italic;
	font-weight:300;
}
blockquote p strong {
	font-weight:500;
}

blockquote .bx-wrapper .bx-viewport {
	box-shadow:none;
	-webkit-box-shadow: none;
	background-color:transparent;
}
/************************/
/******** FOOTER ********/
/************************/

footer {
	padding:20px 0 20px 0;
	width:100%;
	background-color:#000;
	color:#ccc;
	text-align:center;
	font-weight:300;
}
footer .open-hours {
	display:inline-block;
	margin:20px;
	font-weight:500;
}