body {
	background-color:#444;
}
header {
	height:140px;
	width:100%;
	background-color:#000;
	position:sticky;
	margin-bottom:140px;
}
header .logo {
	display:block;
	position:absolute;
	height:100px;
	top:5px;
	left:5px;
}
header .webshop {
	position:absolute;
	display:block;
	right: 5px;
	box-sizing:border-box;
	padding: 5px 45px 5px 5px;
	border-radius: 0 0 5px 5px;
	background-color:#d20117;
	background-image:url(../img/cart.png);
	background-repeat:no-repeat;
	background-position:160px 5px;
	background-size:30px;
	font-family:'Alegreya Sans SC', sans-serif;
	font-weight:700;
	font-size:30px;
	text-decoration:none;
	color:#fff;
}